<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet" />
    <link href="{% static 'store/css/styles.css' %}" rel="stylesheet" />
    <title>CASE Bicycles</title>
</head>
<body>
    <div class="v2313_3">
        <div class="v2335_850"></div>
        <div class="v2313_4"></div>
        <span class="v2317_12">Business Portal</span>
        <div class="v2317_14"></div>
        <div class="v2340_2"></div>
        <span class="v2318_31">Account</span>
        <span class="v2317_16">Accessories</span>
        <span class="v2317_15">Bikes</span>
        <span class="v2318_27">Cart</span>
        <div class="v2318_29"></div>
        <div class="v2333_23"></div>
        <div class="v2335_805"></div>
        <div class="v2333_26"></div>
        <div class="v2335_831">
            <div class="v2337_9"></div>
        </div>
        <span class="v2335_832">Bergamont Horizon 3 Gent €499.99</span>
        <span class="v2335_852">Canyon Neuron Cf 9 €1499.99</span>
        <span class="v2340_4"><a href="{% url 'maintenance_page' %}">Go to Maintenance Page</a></span>
        <span class="v2333_37">
            CASE Bicycles is a company committed to sustainability, customer trust, and a shared passion for using trusty old pedals to get around. CASE is an acronym for its founders: Clara, Alvin, Sashwat, and Emil; individuals that came together because they wanted to develop a platform for enthusiasts, for people who don’t just ride to commute but those that value taking the scenic route.
            <br>
            We’re big fans of the planet too, our ReCASE packaging is derived from repurposed material. When you join our community, you engage with the ReCYCLE concept too. When you ride a bicycle, your carbon emissions drop down to zero.
        </span>
    </div>
</body>
</html>
