<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v2334_36">
            <div class="v2343_11"></div>
            <span class="v2334_48">This website is for the project “CASE Bicycles” for the Databases and Web Services 2024</span>
            <span class="v2334_56">Contacts: 
alyadavatconstructor.university
rrahimzadeatconstructor.university
emoryakovatconstructor.university
sassharmaatconstructor.university</span>
<span class="v2337_5">This website is student lab work and does not necessarily reflect Constructor University opinions. Constructor University does not endorse this site, nor is it checked by 
Constructor University  regularly, nor is it part of the official Constructor University web presence. For each external link existing on this website, we initially have checked that the 
target page  does not contain contents which is illegal wrt. German jurisdiction. However, as we have no in fluence on such contents, this may change without our notice. 
Therefore we deny any responsibility for the websites referenced through our external links from here. No information conflicting with GDPR is stored in the server.</span>
<span class="v2340_6"><a href=home.html>Home</a></span>
<div class="v2343_7"></div>
</div>
</body>
</html>